<div class="container">
  <form [formGroup]="recipeForm">
    <div class="form-group">
      <label>
        Name: 
        <input type="text" class="form-control" formControlName="title">
      </label> 
    </div>
    <!-- <div class="form-group">
      <label>
        Image: 
        <input type="text" class="form-control" formControlName="image">
      </label>
    </div> -->
    <div formArrayName="recipeIngredients">
      <div *ngFor="let ingredientControl of recipeIngredients.controls; let i=index">
        <div class="form-group" [formGroup]=ingredientControl>
          <div class="form-group" [formGroup]=ingredientControl.controls.ingredient>
            <label>
              Ingredient:
              <select *ngIf="databaseIngredients" class="form-control" formControlName="ingredientId">
                <option [value]=dbIngredient.ingredientId *ngFor="let dbIngredient of databaseIngredients">{{dbIngredient.title}}</option>
              </select>
            </label>
          </div>
          <label>
            Qty:
            <input type="text" class="form-control" formControlName="quantity">
          </label>
        </div>
      </div>
      <button (click)="addIngredient()">Add Ingredient</button>
    </div>
    <button (click)="onSubmit()" [disabled]="!recipeForm.valid">Create New Recipe</button>
  </form>
</div>
