<div class="container">
  <h1>{{pageAction}} Recipe</h1>
  <form [formGroup]="recipeForm">
    <div class="form-group">
      <label class="file-upload">
        <img class="image-upload-preview" *ngIf="imagePreviewSrc" [src]="imagePreviewSrc">
        <img class="image-upload-icon" *ngIf="!imagePreviewSrc" src="../../assets/image-2-line.svg">

        <input type="file" class="form-control form-group recipe-img-input" formControlName="image" (change)="onSelectImage($event)">

      </label>

      <input placeholder="Name" type="text" class="form-control" formControlName="title">
    </div>
    <!-- <div class="form-group">
      <label>
        Image: 
        <input type="text" class="form-control" formControlName="image">
      </label>
    </div> -->
    <div formArrayName="recipeIngredients">
      <div class="card" *ngFor="let ingredientControl of recipeIngredients.controls; let i=index">
        <div class="card-body">
          <div class="form-group form-row" [formGroup]=ingredientControl>
          <!-- <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload> -->
            <div class="form-group form-col-90" [formGroup]=ingredientControl.controls.ingredient>
              <p-autoComplete placeholder="Ingredient" formControlName="ingredientPicker" [suggestions]="searchResults" (completeMethod)="search($event)" (onSelect)="onSelectIngredient($event, ingredientControl.controls.ingredient)" (blur)="logIng(ingredientControl)" (onBlur)="onBlurIngredient(ingredientControl, i)" field="title" inputStyleClass="form-control"></p-autoComplete>
            </div>
            
            <div class="form-col-10">
              <img (click)="onRemoveIngredient(i)" class="remove-ingredient" src="../../assets/close-circle-line.svg">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-col-20" [formGroup]=ingredientControl>
              <input placeholder="Qty" type="text" class="form-control" formControlName="qty">
            </div>
            <div class="form-group form-col-80" [formGroup]=ingredientControl>
              <select class="form-control" formControlName="measurementUnitId">
                <option value="">Measurement Unit</option>
                <ng-container *ngFor="let unit of measurementUnits; let i = index">
                  <option *ngIf="displayUnitBasedOnIngredientMeasurement(ingredientControl.controls.ingredient)" value="{{i + 1}}">{{unit}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <!-- <button (click)="logFormValue()">log</button> -->
  <button class="full-width" (click)="addIngredient()">Add Ingredient</button>
  <button class="full-width" (click)="onSubmit()" [disabled]="!recipeForm.valid">Save Recipe</button>
</div>
