<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Foodee</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/new-recipe" routerLinkActive="active">New Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/new-ingredient" routerLinkActive="active">New Ingredient</a>
            </li>
        </ul>
    </div>
</nav> -->
<div class="nav-img-container">
    <span id="nav-logo-text">Foodee</span>
    <a class="nav-link" routerLink="/recipes" routerLinkActive="active"><img class="nav-img" src="../assets/recipe.svg"></a>
    <a class="nav-link" routerLink="/new-recipe" routerLinkActive="active"><img class="nav-img" src="../assets/shopping-list.svg"></a>
    <a class="nav-link" routerLink="/new-ingredient" routerLinkActive="active"><img class="nav-img" src="../assets/ingredient-edited.svg"></a>
</div>
<div class="select-shopping-list-container">
    <app-select-shopping-list></app-select-shopping-list>
</div>
<router-outlet></router-outlet>
