/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
    font-size: 2rem;
    text-align: center;
    margin: 0 20px 20px 20px;
}

div.recipe-card-container{
    padding-top: 15px;
}

div.recipe-card-controls{
    display: flex;
    flex-direction: row-reverse;
}

.recipe-card-title {
    font-size: 1.2rem;
}

img.recipe-card-add-recipe{
    height: 30px;
    width: 30px;
}

img.nav-img{
    height: 25px;
    width: 25px;
}

#nav-logo-text{
    font-weight: bold;
    font-size: 1.2rem;
}

div.nav-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px
}

div.select-shopping-list-container{
    padding: 0 20px 20px 20px;
}

img.recipe-card-add-recipe:hover{
    cursor: pointer;
}

span.shopping-list-ingredient-category{
    color: gray;
    margin-left: auto;
}

span.shopping-list-ingredient-category-heading{
    margin-left: auto;
}

div.shopping-list{
    display: flex;
}

div.shopping-list-header{
    display: flex;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

img.shopping-list-sort-arrow{
    width: 10px;
    height: 10px;
}

ul.ingredient-list{
    margin: 0;
    padding: 0;
}
li.ingredient-list-item{
    list-style-type: none;
    padding: 10px;
}

.toast-success{
    background-color: white !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(0,0,0)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E") !important;
    color: black !important;

}

div.ui-toast-message-content{
    background-color: white;
}

.ui-toast-close-icon::after{
    content: 'x';
}	

div.form-row{
    display: flex;
    flex-wrap: nowrap;
}

div.form-col-80{
    flex-basis: 80%;
}

div.form-col-70{
    flex-basis: 70%;
}

div.form-col-10{
    flex-basis: 10%;
}

div.form-col-90{
    flex-basis: 90%;
}

div.form-col-20{
    flex-basis: 20%;
}

div.form-col-100{
    flex-basis: 100%;
}

img.image-upload-preview, img.image-upload-icon{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.image-upload-icon{
    height: 50%;
}

img.image-upload-preview{
    height: 85%;
}

img.image-upload-icon::after{
    content: "Upload an image.";
    color: black;
    display: inline-block;
    width: 20px;
    height: 20px;
}

button{
    background: none;
    border: 1px solid black;
    margin: 5px;
    border-radius: .25rem !important;
    padding: .375rem .75rem;
}

label.file-upload{
    border: 1px dashed black;
    width: 100%;
    height: 200px;
    position: relative;
}

// label.file-upload::after{
//     content: url(/./assets/image-2-line.svg);
//     display: inline-block;
//     width: 100px;
//     height: 100px;
//     left: 33%;
//     top: 20%;
//     position: absolute;
//     color: black;
// }

input.recipe-img-input{
    display: none;
}

input.form-control, select.form-control{
    border: 1px solid black;
}

span.ui-autocomplete{
    width: 100%;
}


img.remove-ingredient{
    width: 30px;
    height: 30px;
}

ul.ui-autocomplete-list{
    background-color: white;
}

li.ui-state-highlight{
    background-color: lightblue;
}

div.loading-gif-container{
    min-height: 150px;
}

div.pagination-controls-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

span.pagination-page-numbers{
    text-align: center;
    
}

img.loading-gif{
    height: 50px;
    margin: 100px auto 20px auto;
    display: block;
}

div.card{
    border: 1px solid black;
    margin: 20px 0;
}

button.full-width{
    width: 100%;
    margin: 20px 0;
}

a{
    color: black;
}